[submodule "basic-solidity-app/lib/forge-std"]
	path = basic-solidity-app/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "earlybird-ping-pong-app/lib/forge-std"]
	path = earlybird-ping-pong-app/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "earlybird-ping-pong-app/lib/openzeppelin-contracts"]
	path = earlybird-ping-pong-app/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "earlybird-ping-pong-app/lib/earlybird-evm-interfaces"]
	path = earlybird-ping-pong-app/lib/earlybird-evm-interfaces
	url = https://github.com/orb-labs/earlybird-evm-interfaces.git
[submodule "earlybird-mock-app/lib/forge-std"]
	path = earlybird-mock-app/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "earlybird-mock-app/lib/openzeppelin-contracts"]
	path = earlybird-mock-app/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "earlybird-mock-app/lib/earlybird-evm-interfaces"]
	path = earlybird-mock-app/lib/earlybird-evm-interfaces
	url = https://github.com/orb-labs/earlybird-evm-interfaces.git
[submodule "fee-collectors/lib/earlybird-evm-interfaces"]
	path = fee-collectors/lib/earlybird-evm-interfaces
	url = https://github.com/orb-labs/earlybird-evm-interfaces
[submodule "lib/fee-collectors/lib/forge-std"]
	path = lib/fee-collectors/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
