cache/
out/
broadcast/
script/environmentVariables/publicTestnet/*
script/deploymentScripts/endpoint/endpointV1/addresses/local_testnet/*
!script/deploymentScripts/endpoint/endpointV1/addresses/local_testnet/.gitkeep
script/deploymentScripts/mockThunderbirdApp/addresses/local_testnet/*
!script/deploymentScripts/mockThunderbirdApp/addresses/local_testnet/.gitkeep
script/deploymentScripts/mockRukhOracle/addresses/local_testnet/*
!script/deploymentScripts/mockRukhOracle/addresses/local_testnet/.gitkeep
script/deploymentScripts/mockThunderbirdOracle/addresses/local_testnet/*
!script/deploymentScripts/mockThunderbirdOracle/addresses/local_testnet/.gitkeep
script/deploymentScripts/mockRukhRelayer/addresses/local_testnet/*
!script/deploymentScripts/mockRukhRelayer/addresses/local_testnet/.gitkeep
script/deploymentScripts/mockThunderbirdRelayer/addresses/local_testnet/*
!script/deploymentScripts/mockThunderbirdRelayer/addresses/local_testnet/.gitkeep
script/deploymentScripts/mockRukhRecsContract/addresses/local_testnet/*
!script/deploymentScripts/mockRukhRecsContract/addresses/local_testnet/.gitkeep
script/deploymentScripts/mockThunderbirdRecsContract/addresses/local_testnet/*
!script/deploymentScripts/mockThunderbirdRecsContract/addresses/local_testnet/.gitkeep